<div class="pagina-inicial-container">
  <header data-thq="thq-navbar" class="pagina-inicial-navbar-interactive">
    <div
      data-role="Nav"
      data-thq="thq-navbar-nav"
      class="pagina-inicial-desktop-menu"
    >
      <nav
        data-role="Nav"
        data-thq="thq-navbar-nav-links"
        class="pagina-inicial-nav"
      ></nav>
    </div>
    <div class="pagina-inicial-container1">
      <a routerLink="/atualizar-usuario" class="pagina-inicial-navlink">
        <span>ATUALIZAR CADASTRO</span>
        <br />
      </a>
    </div>
    <a routerLink="/lancamento-de-gastos" class="pagina-inicial-navlink1">
      <span>LANÇAMENTO DE GASTOS</span>
      <br />
    </a>
    <a routerLink="/lancamento-de-recebimentos" class="pagina-inicial-navlink2">
      <span>LANÇAMENTO DE RECEBIMENTOS</span>
      <br />
    </a>
    <a routerLink="/consultar-lancamentos" class="pagina-inicial-navlink3">
      <span>CONSULTAR LANÇAMENTOS</span>
      <br />
    </a>
    <a routerLink="/" class="pagina-inicial-navlink4">
      <span>SAIR</span>
      <br />
    </a>
  </header>
</div>
