<div class="atualizar-usuario-container">
  <header data-thq="thq-navbar" class="atualizar-usuario-navbar-interactive">
    <div
      data-role="Nav"
      data-thq="thq-navbar-nav"
      class="atualizar-usuario-desktop-menu"
    >
      <nav
        data-role="Nav"
        data-thq="thq-navbar-nav-links"
        class="atualizar-usuario-nav"
      ></nav>
    </div>
    <div class="atualizar-usuario-container1">
      <span class="atualizar-usuario-text">
        <span>ATUALIZAR CADASTRO</span>
        <br />
      </span>
    </div>
    <span class="atualizar-usuario-text03">
      <span>LANÇAMENTO DE GASTOS</span>
      <br />
    </span>
    <span class="atualizar-usuario-text06">
      <span>LANÇAMENTO DE RECEBIMENTOS</span>
      <br />
    </span>
    <span class="atualizar-usuario-text09">
      <span>CONSULTAR LANÇAMENTOS</span>
      <br />
    </span>
    <a routerLink="/" class="atualizar-usuario-navlink">
      <span>SAIR</span>
      <br />
    </a>
  </header>
  <select class="atualizar-usuario-select">
    <option value="Ensino fundamental" selected>Ensino fundamental</option>
    <option value="Ensino médio">Ensino médio</option>
    <option value="Ensino superior">Ensino superior</option>
  </select>
  <button type="button" class="atualizar-usuario-button button">
    Atualizar
  </button>
  <a routerLink="/pagina-inicial" class="atualizar-usuario-navlink1 button">
    <span class="atualizar-usuario-text14">
      <span>Voltar</span>
      <br />
    </span>
  </a>
  <input
    type="text"
    placeholder="nome completo"
    class="atualizar-usuario-textinput input"
  />
  <input
    type="text"
    placeholder="senha"
    class="atualizar-usuario-textinput1 input"
  />
  <input
    type="text"
    placeholder="e-mail"
    class="atualizar-usuario-textinput2 input"
  />
  <input
    type="text"
    placeholder="endereço completo"
    class="atualizar-usuario-textinput3 input"
  />
  <input
    type="text"
    placeholder="cpf"
    class="atualizar-usuario-textinput4 input"
  />
  <input
    type="text"
    placeholder="data de nascimento"
    class="atualizar-usuario-textinput5 input"
  />
  <span class="atualizar-usuario-text17">
    <span>ATUALIZAR CADASTRO</span>
    <br />
  </span>
</div>
