<div class="consultar-lancamentos-container">
  <header
    data-thq="thq-navbar"
    class="consultar-lancamentos-navbar-interactive"
  >
    <div
      data-role="Nav"
      data-thq="thq-navbar-nav"
      class="consultar-lancamentos-desktop-menu"
    >
      <nav
        data-role="Nav"
        data-thq="thq-navbar-nav-links"
        class="consultar-lancamentos-nav"
      ></nav>
    </div>
    <div class="consultar-lancamentos-container1">
      <span class="consultar-lancamentos-text">
        <span>ATUALIZAR CADASTRO</span>
        <br />
      </span>
    </div>
    <span class="consultar-lancamentos-text03">
      <span>LANÇAMENTO DE GASTOS</span>
      <br />
    </span>
    <span class="consultar-lancamentos-text06">
      <span>LANÇAMENTO DE RECEBIMENTOS</span>
      <br />
    </span>
    <span class="consultar-lancamentos-text09">
      <span>CONSULTAR LANÇAMENTOS</span>
      <br />
    </span>
    <a routerLink="/" class="consultar-lancamentos-navlink">
      <span>SAIR</span>
      <br />
    </a>
  </header>
  <button type="button" class="consultar-lancamentos-button button">
    Consultar
  </button>
  <span class="consultar-lancamentos-text14">
    <span>CONSULTAR LANÇAMENTOS</span>
    <br />
  </span>
  <ul class="list"></ul>
  <div class="consultar-lancamentos-container2">
    <ul class="consultar-lancamentos-ul1 list">
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
    </ul>
    <ul class="consultar-lancamentos-ul2 list">
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
    </ul>
    <ul class="consultar-lancamentos-ul3 list">
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
    </ul>
  </div>
</div>
