<div class="home-container">
  <header data-thq="thq-navbar" class="home-navbar-interactive">
    <div data-role="Nav" data-thq="thq-navbar-nav" class="home-desktop-menu">
      <nav data-role="Nav" data-thq="thq-navbar-nav-links" class="home-nav">
        <span class="home-text">
          <span>SISTEMA DE GESTÃO DE FINANÇAS PESSOAIS</span>
          <br />
        </span>
      </nav>
    </div>
  </header>
  <input type="text" placeholder="e-mail" class="home-input input" />
  <input type="text" placeholder="senha" class="home-input1 input" />
  <a routerLink="/cadastrar-usuario" class="home-navlink button">Cadastrar</a>
  <a routerLink="/pagina-inicial" class="home-navlink1 button">Login</a>
</div>
