<div class="lancamento-de-recebimentos-container">
  <header
    data-thq="thq-navbar"
    class="lancamento-de-recebimentos-navbar-interactive"
  >
    <div
      data-role="Nav"
      data-thq="thq-navbar-nav"
      class="lancamento-de-recebimentos-desktop-menu"
    >
      <nav
        data-role="Nav"
        data-thq="thq-navbar-nav-links"
        class="lancamento-de-recebimentos-nav"
      ></nav>
    </div>
    <div class="lancamento-de-recebimentos-container1">
      <a routerLink="/atualizar-usuario" class="lancamento-de-recebimentos-text">
        <span>ATUALIZAR CADASTRO</span>
        <br />
      </a>
    </div>
    <a routerLink="/lancamento-de-gastos" class="lancamento-de-recebimentos-text03">
      <span>LANÇAMENTO DE GASTOS</span>
      <br />
    </a>
    <a routerLink="/lancamento-de-recebimentos" class="lancamento-de-recebimentos-text06">
      <span>LANÇAMENTO DE RECEBIMENTOS</span>
      <br />
    </a>
    <a routerLink="/consultar-lancamentos"class="lancamento-de-recebimentos-text09">
      <span>CONSULTAR LANÇAMENTOS</span>
      <br />
    </a>
    <a routerLink="/" class="lancamento-de-recebimentos-navlink">
      <span>SAIR</span>
      <br />
    </a>
  </header>
  <button type="button" class="lancamento-de-recebimentos-button button">
    Cadastrar
  </button>
  <input
    type="text"
    placeholder="data do recebimento"
    class="lancamento-de-recebimentos-textinput input"
  />
  <input
    type="text"
    placeholder="valor"
    class="lancamento-de-recebimentos-textinput1 input"
  />
  <input
    type="text"
    placeholder="descrição"
    class="lancamento-de-recebimentos-textinput2 input"
  />
  <span class="lancamento-de-recebimentos-text14">
    <span>LANÇAMENTO DE RECEBIMENTOS</span>
    <br />
  </span>
</div>
