:host { 
  display: contents; 
}
.lancamento-de-recebimentos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lancamento-de-recebimentos-navbar-interactive {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #5004c4;
}
.lancamento-de-recebimentos-desktop-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lancamento-de-recebimentos-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lancamento-de-recebimentos-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.lancamento-de-recebimentos-text {
  top: -9px;
  left: -530px;
  color: rgb(255, 255, 255);
  position: static;
}
.lancamento-de-recebimentos-text03 {
  top: 26px;
  left: 255px;
  color: rgb(255, 255, 255);
  position: static;
}
.lancamento-de-recebimentos-text06 {
  top: 26px;
  left: 495px;
  color: rgb(255, 255, 255);
  position: static;
}
.lancamento-de-recebimentos-text09 {
  top: 26px;
  left: 795px;
  color: rgb(255, 255, 255);
  position: static;
}
.lancamento-de-recebimentos-navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.lancamento-de-recebimentos-button {
  top: 415px;
  left: 545px;
  color: rgb(255, 255, 255);
  width: 105px;
  position: absolute;
  background-color: rgb(80, 4, 196);
}
.lancamento-de-recebimentos-textinput {
  top: 370px;
  left: 460px;
  position: absolute;
}
.lancamento-de-recebimentos-textinput1 {
  top: 325px;
  left: 460px;
  position: absolute;
}
.lancamento-de-recebimentos-textinput2 {
  top: 280px;
  left: 460px;
  position: absolute;
}
.lancamento-de-recebimentos-text14 {
  top: 210px;
  left: 390px;
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 767px) {
  .lancamento-de-recebimentos-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lancamento-de-recebimentos-desktop-menu {
    display: none;
  }
}
@media(max-width: 479px) {
  .lancamento-de-recebimentos-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
