<div class="lancamento-de-gastos-container">
  <header data-thq="thq-navbar" class="lancamento-de-gastos-navbar-interactive">
    <div
      data-role="Nav"
      data-thq="thq-navbar-nav"
      class="lancamento-de-gastos-desktop-menu"
    >
      <nav
        data-role="Nav"
        data-thq="thq-navbar-nav-links"
        class="lancamento-de-gastos-nav"
      ></nav>
    </div>
    <div class="lancamento-de-gastos-container1">
      <span class="lancamento-de-gastos-text">
        <span>ATUALIZAR CADASTRO</span>
        <br />
      </span>
    </div>
    <span class="lancamento-de-gastos-text03">
      <span>LANÇAMENTO DE GASTOS</span>
      <br />
    </span>
    <span class="lancamento-de-gastos-text06">
      <span>LANÇAMENTO DE RECEBIMENTOS</span>
      <br />
    </span>
    <span class="lancamento-de-gastos-text09">
      <span>CONSULTAR LANÇAMENTOS</span>
      <br />
    </span>
    <a routerLink="/" class="lancamento-de-gastos-navlink">
      <span>SAIR</span>
      <br />
    </a>
  </header>
  <button type="button" class="lancamento-de-gastos-button button">
    Cadastrar
  </button>
  <input
    type="text"
    placeholder="data do pagamento"
    class="lancamento-de-gastos-textinput input"
  />
  <input
    type="text"
    placeholder="valor"
    class="lancamento-de-gastos-textinput1 input"
  />
  <input
    type="text"
    placeholder="descrição"
    class="lancamento-de-gastos-textinput2 input"
  />
  <span class="lancamento-de-gastos-text14">
    <span>LANÇAMENTO DE GASTOS</span>
    <br />
  </span>
</div>
